<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.p2p.dao.TRechargeDao">
	<select id="selectTRechargeList" resultType="TRechargeAlias">
	
		select * from t_recharge 
		where userId=#{userId} 
		<if test="createTime != null"> and <![CDATA[  createTime >= #{createTime} ]]> </if>
		 order by createTime desc
	 
	</select>
	
</mapper>