<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.p2p.dao.TBorrowAttrDao">
	<select id="queryTBorrowAttrListByBorrowId" resultType="tBorrowAttrAlias">
		select * from t_borrow_attr where borrowId=#{borrowId} 
	</select>

	<delete id="deleteTBorrowAttr">
		delete from t_borrow_attr where id=#{id}
	</delete>
	
</mapper>